<div style="width: 500px;">
    <div class="dropdown" (click)="hideMenu = !hideMenu">
        <div>{{selectedValues}}</div>
        <span class="caret"></span>
      </div>
      <div class="dropdownMenu" [hidden]="hideMenu">
        <div class="selectAll">
          <input id="selctAllCb" type="checkbox" (click)="selectAllToggle()">
          <label for="selectAllCb">Select All</label>
        </div>
        <div class="options" *ngFor="let option of data">
          <input id="dropdownMenu" type="checkbox" [value]="option" [checked]="optionsMap[option]">
          <label for="dropdownMenu">{{option}}</label>
        </div>
      </div>
</div>