input{
    margin: auto 10px;
}
.dropdown{
    min-width: 100px;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 5px;
}

.selectedValuesHolder{
    width: 90%;
}
.selectedValue{
    padding: 5px 10px;
    border: 1px solid #337ab7;
    background: #337ab7;
    color: white;
    margin: 5px;
    border-radius: 3px;
    float: left;
    max-width: 100%;
    overflow: hidden;
}

#searchField:empty::before {
    content: 'Search';
    color: grey;
}

.dropdownMenu{
    border: 1px solid grey;
    border-radius: 3px;
}
.selectAll {
    padding: 10px 15px;
    border-bottom: 1px solid grey;
}

.searchField{
    border-bottom: 1px solid grey;
}
.options{
    padding: 10px 30px;
}

label{
    max-width: 90%;
    word-break: break-word;
    margin: 0;
}