<div [ngStyle]="styles">
  <div class="dropdown alignLeft" (click)="hideMenu = !hideMenu">
    <div class="selectedValuesHolder alignLeft">
      <div *ngIf="selectedValues.length !== 0">
        <div class="selectedValue" *ngFor="let item of selectedValues" [title]="item">{{item}}</div>
      </div>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom" *ngIf="hideMenu"></span>
    <span class="glyphicon glyphicon-triangle-top" *ngIf="!hideMenu"></span>
  </div>
  <div class="dropdownMenu" [hidden]="hideMenu">
    <div class="selectAll alignMiddleLeft">
      <label for="selectAllCb" class="container">Select All
        <input id="selectAllCb" type="checkbox" (click)="selectAllToggle()">
        <span class="checkmark"></span>
      </label>   
    </div>
    <div id="searchField" class="searchField options" (keyup)="startSearch()" contenteditable="true"></div>
    <div class="options alignMiddleLeft" *ngFor="let option of filteredData">
      <div class="width50 pull-left alignMiddleLeft">
        <label [for]="option" class="container">{{option}}
            <input [id]="option" class="dropdownMenu" type="checkbox" [value]="option" [checked]="optionsMap[option]['checked']"
              (click)="toggleEach(option)">
            <span class="checkmark"></span>
        </label>
      </div>
      <div class="alignMiddleLeft width50 pull-left" *ngIf="allowAlias">
        <input class="aliasNameInput" type="text" [value]="optionsMap[option]['aliasName']"
          [(ngModel)]="optionsMap[option]['aliasName']">
      </div>
    </div>
  </div>
</div>