<div [ngStyle]="{'width': styles.width}">
  <div class="dropdown alignLeft" (click)="hideMenu = !hideMenu">
    <div class="selectedValuesHolder alignLeft">
      <div *ngIf="selectedValues.length !== 0">
        <span class="selectedValue" *ngFor="let item of selectedValues">{{item}}</span>
      </div>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom" *ngIf="hideMenu"></span>
    <span class="glyphicon glyphicon-triangle-top" *ngIf="!hideMenu"></span>
  </div>
  <div class="dropdownMenu" [hidden]="hideMenu">
    <div class="selectAll">
      <input id="selectAllCb" type="checkbox" (click)="selectAllToggle()" [checked]="selectAllChecked">
      <label for="selectAllCb">Select All</label>
    </div>
    <div id="searchField" class="searchField options" (keyup)="startSearch()" contenteditable="true"></div>
    <div class="options" *ngFor="let option of filteredData">
      <input class="dropdownMenu" type="checkbox" [value]="option" [checked]="optionsMap[option]"
        (click)="toggleEach(option)">
      <label for="dropdownMenu">{{option}}</label>
    </div>
  </div>
</div>